  <div class="profile">
    <img src="<%= user.photo%>" alt="<%= user.name %>">
    <h1> <%= user.name %> </h1>
    <span class="posts-no">Number of posts: <%= user.posts_counter %></span>
  </div>
  