body {
  padding: 1em;
  margin: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.users {
  width: 100vw;
  height: fit-content;
}

.users a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  gap: .5em;
  justify-content: flex-start;
  height: 100px;
  width: 300px;
  object-fit: contain;
  position: relative;
}

.profile img {
  width: 25%;
  min-width: 70px;
  height: 80%;
  border-radius: 50%;
}

.posts-no {
  position: absolute;
  right: 10px;
  bottom: 30px;
}

.show-user {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio {
  width: 95vw;
  max-width: 500px;
  padding: 0 .5em;
}

.posts {
  width: 95vw;
  max-width: 500px;
  padding: 0 .5em;
  border: 1px solid black;
  margin: .2em 0;
}

.posts a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.posts h3 {
  padding: 0;
  margin: 0;
}

.posts span {
  display: flex;
  justify-content: flex-end;
}

.comments {
  width: 95vw;
  max-width: 500px;
  border: 1px solid black;
  padding: 0 .5em;
  margin-bottom: 1.5em;
}

.show-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7em 0;
}
